body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: blue;
    border-bottom: 3px solid orange;
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    width: 80%;
    margin: auto ;
}

